<nav class="navbar navbar-expand-lg bg-white shadow-sm sticky-top">
  <div class="container">
    <a class="navbar-brand fw-bold text-success" routerLink="/">YourLogo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About Us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="productsDropdown" role="button" data-bs-toggle="dropdown">
            Products
          </a>
          <ul class="dropdown-menu" aria-labelledby="productsDropdown">
            <li><a class="dropdown-item" routerLink="/products/jelly">Jelly</a></li>
            <li><a class="dropdown-item" routerLink="/products/scrap">Scrap</a></li>
            <li><a class="dropdown-item" routerLink="/products/yarn">Yarn</a></li>
            <li><a class="dropdown-item" routerLink="/products/organic-fertiliser">Organic Fertiliser</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/team">Our Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
